@import url('https://fonts.googleapis.com/css?family=Pacifico|Titillium+Web');

body {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  font-size: 2vw;
  overflow: hidden;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

button {
  font-family: 'Titillium Web', sans-serif;
  padding: 1.5vh 1.5vw;
  background: #92CD41;
  text-align: center;
  font-size: 1.5vw;
  width: calc(10vw + 1);
  color: white;
  outline: none;
  margin-left: 2vw;
}

button:hover{
  color: #92CD41;
  background: white;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  margin: 0;
}

h2 {
  font-size: 3vw;
  margin: 0;
}

video {
  z-index: -2;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#black-bar-top {
  margin: 0;
  padding: 0;
  z-index: -1;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 10vh;
  background-color: black;
}

#black-bar-bottom {
  margin: 0;
  padding: 0;
  z-index: -1;
  position: fixed;
  bottom: 0; left: 0;
  width: 100vw;
  height: 10vh;
  background-color: black;
}

ul {
  padding: 0 10vw;
  text-align: left;
}

table {
  font-size: 2vw;
  margin: 3vh auto;
  text-align: left;
}

td {
  padding-right: 5vw;
}

th {
  font-size: 2.5vw;
  text-decoration: underline;
}

#score-table {
  height: 40vh;
  width: 50vw;
  margin: 2vh auto;
  overflow-y: scroll;
  border: 1px dashed white;
}

#score-table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1vw;
}

#score-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

.menu-background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://s3.us-east-2.amazonaws.com/misc-helen/cinema-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-text {
  background-color: rgba(55,55,55,0.9);
  margin: auto;
  padding: 15px 10px 40px 10px;
  margin-top: 20vh;
  text-align: center;
}

#end-game {
  text-align: center;
  width: 100vw;
  margin-top: 20vh;
}

#countdown {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
}


#popup {
  background-color: rgb(0, 0, 0, 0.8);
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  position: fixed;
  top: 0; left: 0;
}

#popup-transcript {
  width: 60vw;
  margin: 0 auto;
}

#score-text {
  position: fixed;
  top: 0; right: 5vw;
  font-size: 3vw;
}

#show-answers {
  text-align: center;
  margin: 15vh auto;
  width: 50vw;
  padding: 0 2vw 4vh 2vw;
  background-color: rgb(0, 0, 0, 0.2);
}

#hint-text {
  position: fixed;
  bottom: 10vh; left: 3vw;
  font-size: 3vw;
  color: white;
}

#hint-btn {
  position: fixed;
  bottom: 2vh; left: 1vw;
}
