button {
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  height: 50px;
}

select {
  margin-left: 5px;
  height: 30px;
  width: 65px;
}

h1 {
  font-size: 50px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#player-selection {
  text-align: center;
}

#player-selection p {
  font-size: 20px;
}
